<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    
    <script> 
       function localTime() {
            var time, local;
            setInterval(() => {
            time = new Date();
            local = time.toLocaleTimeString();
            date = time.toLocaleDateString();
            document.getElementById('time').innerHTML = local;
            document.getElementById('date').innerHTML = date;
            }, 500)
        }
      

        function getLocation() {
            
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
            }

        function showPosition(position) {
            var x = document.getElementById("location");
            console.log(position);
            x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br/>Longitude: " + position.coords.longitude;
             const data ={
                 lat:position.coords.latitude, 
                lon: position.coords.longitude
             };
             const options ={
                method :"POST",
                body:JSON.stringify(data),
                headers:{
                    'Content-Type':"application/json"
                } 
             }  ; 
             fetch('/',options); 
        }

      
    </script>
    </head>

    
</head>
<body onload="{localTime(),getLocation()}">
    <div >
    <div class="grid-container">
        <h1  class="heading " >Weather App</h1>
        <h5 id="time"></h4>
        <h5 id="date"></h4>
        
        <div class="grid1" >
            <form action="/" method="post">
                <div class="cityInput input-group-prepend">
                    <input type="text" name="city" class="form-control" placeholder="Enter your city...">
                </div>
                <input type="submit" class="btn btn-info">
            </form>
        <p id="location"></p>
               
        </div>
        <div class="output">
            <% if(weather!==null){ %>
            <strong id='output'> It's <span><%=weather.main.temp %></span>&degC in <%=weather.name%></strong>
            <% } %>
            
            <% if(error !== null){ %>
            <p><%= error %></p>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>


